/* LABEL__2 */

.benefits {
    padding: 48px 72px;
    text-align: center;
    background-color: #FAFAFA;
}

.benefits__list {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
}

.benefits__item {
    display: flex;
    align-items: center;
    max-width: 270px;
    height: 64px;
    text-align: left;
    gap: 16px;
}

.benefits__icon {
    font-size: 46px;
}

.benefits__text {
    font-size: 16px;
    line-height: 150%;
    font-weight: 600;
    color: #212121;
}